@{
    ViewData["Title"] = "About Joel";
}
<h1>@ViewData["Title"]</h1>

<br />

<h2>Quick Wits Comedy</h2>
<br />
<p>Joel is a comic genius who performs regularly at Quick Wits Comedy. Access the link below to catch one of his sets!</p>
<a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>
<br />
<br />
<h2>Baconsale</h2>
<br />
<p>Joel also runs a podcast called Baconsale to do analyses and reviews of everything pop culture. Check it out!</p>
<a href="https://baconsale.com/">Baconsale</a>
<a href="https://baconsale.com/">
	<img src="~/img/baconsalekate.jpg" />
</a>
