@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h3>Thank you, the movie has been added to the database.</h3>
<p>Please click the link to the form again if you wish to submit another entry.</p>